.container {
    margin: 0 auto;
    padding: 0;
}

.home {
    display: flex;
    height: 100%;
    
    .articles__container {
        padding: 64px 0 calc(50vh - 64px) 0;
        display: flex;
        overflow-x: auto;

        > .article__item {
            border-radius: 10px;
            border : 2px solid #e6e6e6;
            padding: 16px 32px;
            margin: auto 32px;
            height: 300px;
            width: 520px;

        }
    }
    
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.articles__list {
    //make a great centered page with gap between elements
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 64px;

    > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;

        > li {
            display: flex;
            border-bottom: 1px solid #e6e6e6;
            justify-content: space-between;
            width: 500px;
            height: 32px;
            padding: 8px;
            margin: 0;
            font-size: 1rem;
            font-weight: normal;
            color: #242424;
            text-decoration: none;

            &:hover {
                background-color: #e6e6e6;
            }

            .delete_button {
                height: 24px;
                width: 24px;
            }

        }
    }
    .add_button {
        height: 32px;
        border-radius: 50px;
        background-color: #00a8ff;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            height: 24px;

            .add_icon {
                height: 24px;
                width: 24px;
            }
        }
    }
}

.article__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .article_id {
        width: 700px;
        padding: 64px;
    }
}

.add_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 64px;
}